<div class="container-xl">
    <div class="row"><br><br>
        <div class="col-md-9 mx-auto">
            <h2><span><b><i>E Shopping Zone</i></b></span></h2>
            <p>We make shopping easy!</p> <br>
        </div>
    </div>
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <img src="\assets\Images\welcome.jpg"  style="height: 500px;display: block;"> 
        </div> 
        <div class="content text-center"><br><br>
            <div class="text-size-h1 text-white"></div><br>
        </div>
    </div>
   
    <div class="container my-5 d-grid gap-5 content text-center" id="about">
        <div class="p-5 border">
            <div class="fade-scroll">
                <h2>ABOUT US</h2>
            </div><br>
             <p class="animation appears-delayed text-black"> Our fundamental function is the ability to add products.
                Customers might search for our product via a search engine and land on a product page. Or
                they may search or browse products on our website.All our products should have an Add to Cart button so our potential customers can keep track of
                interesting items. The simpler it is for someone to add a product to their cart, the better. When a
                customer adds a product to their cart, they may not buy it right away, or at all. Sometimes
                customers use their cart for considering products—which leads us to Customers should have the
                opportunity to review their cart before making their purchase. They might decide they don't want
                a particular item, or want a different quantity, size, or color. They should be able to
                make these  adjustments seamlessly, without leaving the car.<br><br><b>
                    Shop more.....! Happy Shopping</b></p><br>
        </div> 
    </div><br><br> 
    <div class="container my-5 d-grid gap-5 content text-center" id="gallery">
        <div class="p-5 border">
            <div class="div-left">
                <div class="image-grid"> 
                    <h2>PRODUCTS</h2><br> 
                    <a href="#" class="gridimg1 inner"></a>
                    <a href="#" class="gridimg2 inner"></a>
                    <a href="#" class="gridimg3 inner"></a>
                </div><br> 
            </div>
            <div class="div-right"> 
                <div class="container-xl">
                    <div class="row"><br><br>
                        <div class="col-md-9 mx-auto">
                            <h2><span><b> What we sell</b></span></h2>
                            <p>We provide four kind of categories like Apparle, Books, Electronics and Personal Care Items </p><br>
                          
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="img-box">
                                         <img src="\assets\Images\Electronics.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                
                                <div class="col-sm-4">
                                    <div class="img-box">
                                        <img style="height:160px" src="\assets\Images\men.jpg" class="img-fluid" alt=""></div> 
                                    </div><br>
                                    <div class="col-sm-4">
                                        <div class="img-box">
                                            <img src="\assets\Images\women.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="img-box">
                                            <img style="height:150px" src="\assets\Images\book.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="img-box">
                                            <img style="height:160px" src="\assets\Images\skin.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="img-box">
                                            <img style="height:160px" src="\assets\Images\kids.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div><br><br>
                </div>
            </div>
        </div>
        <section class="contact-us" id="contact">
             <div
                class="container" style="margin-bottom: -50px;">
                <div class="row">
                    <div class="col-md-12 text-white text-center" style="margin-top: -10px;">
                        <h2>Contact-us</h2>
                    </div>
                </div> <br><br>
                <label>
                    <div><i><b>For any queries write an email to: </b> </i> supporthelp@eshoppingzone.com</div>
                    <div><i><b>Contact no:</b> </i>  9595959595 | 8585858585</div><br><br>
                </label>  
            </div>
        </section>