<div class="one">
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" checked />
  <main id="carousel">
    <div class="item">
      <img src="../../assets/Images/gettyimages-458984207-612x612.jpg" height="400px">
    </div>
    <div class="item">
      <img src="https://blog.sociallyin.com/hubfs/17_brilliant_clothing_ads-01-1.png" height="400px">
    </div>
    <div class="item">
      <img src="../../assets/Images/Best-Sites-Buy-Books-Online-India.jpg" height="400px">
      
    </div>
    <div class="item">
      <img src="../../assets/Images/3R23R.png" height="400px">
    </div>
    <div class="item">
      
      <img src="../../assets/Images/special-offer-creative-sale-banner-design_1017-16284.avif">
    </div>
  </main>
</div>



<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList | filter:searchKey:'productName'">
      <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h5 style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
          {{item.productName}}</h5>
        <p style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
          {{item.description}}</p>
        <p><strong>Price:</strong>₹ {{item.price}}</p>
        <button class="btn btn-primary" (click)="addtocart(item) ">Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>